# Backend & Microservice (Java / Spring Boot)
sb-ecom/target/
image-search-service/target/
*.class
*.log
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Node Frontend
ecom-frontend/node_modules/
ecom-frontend/build/
ecom-frontend/dist/
ecom-frontend/.next/
ecom-frontend/.nuxt/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment files
*.env
*.env.local

